<article class="post">
      <div class="title">
        <a href="{{post_text}}" >{{title}}</a>
        <span>({{post_text}})</span>
      </div>
      <div class="meta">
        {{heart_count}} heart(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} </a>
      </div>
    </article>