<article>
    {{!-- <a href="/dashboard"> &larr; Back to dashboard</a> --}}

    <form class="edit-post-form">
        <div class="block md:grid md:grid-flow-row-dense md:grid-cols-3 md:grid-rows-3 ">
            <div class="col-span-2">
                <div class="pt-10">
                    <div class="bg-black shadow rounded-lg mb-6 p-4 w-full md:w-3/4">
                        <h2 class="text-white font-bold mb-4">
                            Edit Post
                        </h2>
                        <textarea id="post-title" name="post-title" type="text" value="{{posts.title}}" placeholder="Edit your post title here"
                            class=" focus:outline-none  w-full rounded-lg p-6 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400"></textarea>
                        <textarea id="post-text" name="post-text" type="text" value="{{posts.post_text}}" placeholder="Edit your post content here"
                            class=" focus:outline-none  w-full rounded-lg p-6 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400"></textarea>

                        <div class="text-white">
                            <span class="font-extralight font-thin"> Original Post: <br>
                            "{{posts.title}}, <br>  {{posts.post_text}}" </span>
                            <br>
                             {{posts.created_at}}
                             <br>
                             {{posts.heart_count}} hearts,
                            <br>
                            <a href="/post/{{post.id}}">{{posts.comments.length}} Comment(s)</a>
                        </div>


                        <footer class="flex justify-between mt-2">
                            <div class="flex gap-2">
                                <div class="edit-post-btn">
                                    <button type="submit"
                                        class="flex items-center py-2 px-4 rounded-lg outline-white text-sm bg-slate-700 text-white shadow-lg m-2">Edit
                                        <svg class="ml-1" viewBox="0 0 24 24" width="16" height="16"
                                            stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <line x1="22" y1="2" x2="11" y2="13"></line>
                                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                        </svg>
                                    </button>
                                </div>
                                <div class="delete-post-btn">
                                    <button type="submit"
                                        class="flex items-center py-2 px-4 rounded-lg outline-white text-sm bg-slate-700 text-white shadow-lg m-2">Delete
                                        <svg class="ml-1" viewBox="0 0 24 24" width="16" height="16"
                                            stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <line x1="22" y1="2" x2="11" y2="13"></line>
                                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                        </svg>
                                    </button>
                                </div>

                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>





{{!-- <form class="comment-form">
    <div
        class="relative flex items-center self-center w-full max-w-xl p-4 overflow-hidden text-gray-600 focus-within:text-gray-400">
        <img class="w-10 h-10 object-cover rounded-full shadow mr-2 cursor-pointer" alt="User avatar"
            src="../views/images/womanprofile.jpg">
        <span class="absolute inset-y-0 right-0 flex items-center pr-6">
            <button type="submit" class="p-1 focus:outline-none focus:shadow-none hover:text-blue-500">
                <svg class="w-6 h-6 transition ease-out duration-300 hover:text-blue-500 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>

            </button>
        </span>
        <input type="comment-body"
            class="w-full py-2 pl-4 pr-10 text-sm bg-gray-100 border border-transparent appearance-none rounded-tg placeholder-gray-400 focus:bg-white focus:outline-none focus:border-blue-500 focus:text-gray-900 focus:shadow-outline-blue"
            style="border-radius: 25px" placeholder="Post a comment..." autocomplete="off">

        {{comment.comment_text}}

    </div>

</form> --}}





<script src="/javascript/edit-post.js"></script>
{{!-- <script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script> --}}